* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

nav {
    height: 70px;
    padding: 0 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #181818;
}

nav h2 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    text-align: center;
    padding-top: 150px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    transform: scale(1.05);
}